div.container
  div.row
    div.col-md-5
      div.panel.panel-default
        div.panel-heading Server stats
        div.panel-body
          span.field-title RSS :
          span#rss
          br
          span.field-title Heap total :
          span#heapTotal
          br
          span.field-title Heap used :
          span#heapUsed
