@import "../js/libs/bootstrap/css/bootstrap.css";
@import "../js/libs/font-awesome/css/font-awesome.css";
.tt-suggestions {
  padding: 5px;
  min-width: 160px;
  background-color: #fff;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.tt-suggestions .tt-suggestion {
  cursor: pointer;
}
.tt-suggestions .tt-suggestion:hover {
  background-color: #dcdcdc;
}
.no-padding {
  padding: none;
}
.mt20 {
  margin-top: 20px;
}
body {
  padding-top: 70px;
}
.field-title {
  width: 100px;
  text-align: right;
  display: inline-block;
}
