@import "nib"

@import "../js/libs/bootstrap/css/bootstrap.css"
@import "../js/libs/font-awesome/css/font-awesome.css"


@import "./mixins/mixins"
@import "./mixins/bootstrap-overrides"


.no-padding
  padding none

.mt20
  margin-top 20px

body
  padding-top 70px

.field-title
  width 100px
  text-align right
  display inline-block