.tt-suggestions
  padding 5px
  min-width 160px
  background-color #fff
  background-clip padding-box
  border 1px solid #ccc
  border 1px solid rgba(0, 0, 0, .15)
  border-radius 4px
  box-shadow 0 6px 12px rgba(0, 0, 0, .175)

  .tt-suggestion
    cursor pointer

    &:hover
      background-color lighten(lightgray,20%)